.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FDF6E3;
    min-height: 100vh;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(0, 43, 54) 0%, #073642 70%);

}

.footer {
    background-color: #073642;
    color: #d6d5d5;
    padding: 1rem;
    text-align: center;
}

    .footer a {
        color: #d6d5d5;
    }

    .footer a:hover {
        color: #eee8d5;
    }

    .footer a:not(:last-child) {
        margin-right: 1rem;
    }

    .footer .oi {
        top: 0;
    }

    .footer .oi:not(:last-child) {
        margin-right: 0.5rem;
    }


@media (min-width: 768px) {
    .page-header {
        padding-top: 80px; /* nav height */
    }
}

.page-header {
    padding-top: 80px; /* nav height */
}
