<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">gordug.uk</a>
        <button title="Navigation menu" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="False" aria-label="toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="nav navbar-nav navbar-right">
                <div class="nav-item">
                    <ul class="navbar-nav me-auto bm-2 mb-lg-0">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" ActiveClass="active" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Home
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="CodeScroller">
                                <span class="oi oi-code" aria-hidden="true"></span> Code Scroller
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>