@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace gordug.uk.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-reboot.css"/>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="gordug.uk.styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
    
      return t;
    }(document, "script", "twitter-wjs"));</script>
    <style>
    	span {font-family: "Cascadia Mono",system-ui;}
    	.highlight {background: #002B36; font-family: "Cascadia Mono",system-ui; color: #FDF6E3;}
    	.highlight .k { color: #2288FF; }
        .highlight 	.kt { color: #268BD2; }
        .highlight 	.nn { color: #EEE8D5; }
        .highlight 	.p { color: #FDF6E3;}
        .highlight 	.c { color: #859900; }
        .highlight 	.nc { color: #2BC07F; }
        .highlight 	.n { color: #93A1A1;}
        .highlight 	.s { color: #B58900;}
        .highlight 	.m { color: #839496;}
    </style>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<script src="_framework/blazor.server.js"></script>
</body>
</html>