.center-screen {
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 801px) {
    .carousel-item {
        width: 70vw;
    }
}

@media (min-height: 601px) {
    .carousel-item {
        height: 70vh;
    }
}

.carousel-item {
    max-width: 1200px;
    max-height: 800px;
    overflow: unset;
    overflow-y: scroll;
    background-color: #002b36;
    color: #FDF6E3;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 800px) {
    .carousel-item {
        width: 95vw;
    }
}

@media (max-height: 600px) {
    .carousel-item {
        height: 95vh;
    }
}


.carousel-item img {
    max-height: 70vh;
    max-width: 70vw;
}

.carousel-item::-webkit-scrollbar {
    display: none;
}