@page "/"
<div class="fixed-top d-block">
    <PageTitle>@_name</PageTitle>
</div>

<div class="center-screen w-100">
    <div class="carousel slide carousel-fade" id="mainCarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="w-100 d-block">
                    <NavLink class="nav-link" href="CodeScroller">
                        <h5 class="font-monospace">Code Scroller</h5>
                        <p>Scroll through code snippets</p>
                        <img class="d-block w-100" src="img/CodeScroller-Productive.gif" alt="Code Scroller"/>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <div class="w-100 d-block">
                    <NavLink class="nav-link" href="PasswordGenerator">
                        <h5 class="font-monospace">Password Generator</h5>
                        <p>Interface for generating passwords using a Rust API</p>
                        <img class="d-block w-100" src="img/PasswordGenerator.png" alt="Code Scroller"/>
                    </NavLink>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@code {
    private readonly string _name = "Gordug";
}