@page "/"
<PageTitle>@_name</PageTitle>
<h2 class="align-self-start d-flex">Playground Demos</h2>
<div class="center-screen h-auto w-100">
    <div class="carousel slide" id="mainCarousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="w-100 d-block">
                    <NavLink class="nav-link" href="CodeScroller">
                        <h5>Code Scroller</h5>
                        <img class="d-block w-100" src="img/CodeScroller-Productive.gif" alt="Code Scroller"/>
                    </NavLink>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
@code {
    private string _name = "Gordug";
}