@page "/PasswordGenerator"
@using gordug.uk.Models
@using gordug.uk.Data.PasswordGenerator
@using gordug.uk.Data.Common
<PageTitle>Gordug.PasswordGenerator</PageTitle>
<div class="center-screen">
    <div class="card item password-generator-card">
        <div class="card-body item">
            <h3 class="card-title">Password Generator</h3>
            <p class="card-subtitle">
                <a href="https://github.com/gordug/pw-gen-handler" class="btn btn-outline-primary" target="_blank">
                    <i class="bi btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                        Github
                    </i>
                </a>
            </p>
            <p class="card-text">
                This is a password generator that uses the rust API created by the <a href="https://github.com/gordug/pw-gen-handler" target="_blank">pw-gen-handler</a> library.
            </p>
            <EditForm Model="@_passwordOptions" OnValidSubmit="GeneratePassword">
                <table class="table container">
                    <tr>
                        <td>
                            <label class="form-label">Password Length:</label>
                        </td>
                        <td>
                            <InputNumber @bind-Value="_passwordOptions.Length" TValue="int" class="form-text form-control"/>
                            <ValidationSummary></ValidationSummary>
                        </td>
                        <td>
                            Required
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Include Uppercase:</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.IncludeUppercase" class="form-check-input form-control"/>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.RequireUppercase" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Include Lowercase:</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.IncludeLowercase" class="form-check-input form-control"/>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.RequireLowercase" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Include Numeric:</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.IncludeNumbers" class="form-check-input form-control"/>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.RequireNumbers" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Include Special Characters:</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.IncludeSpecialCharacters" class="form-check-input form-control"/>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.RequireSpecialCharacters" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Exclude Similar Characters:</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.ExcludeSimilarCharacters" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Exclude Ambiguous Characters:</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.ExcludeAmbiguousCharacters" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">Exclude Sequential Characters</label>
                        </td>
                        <td>
                            <InputCheckbox @bind-Value="_passwordOptions.ExcludeSequentialCharacters" class="form-check-input form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="m-3">
                                <button type="submit" class="btn btn-outline-primary form-control">Generate Password</button>
                                <button type="reset" class="btn btn-outline-dark form-control" onclick="@ResetOptions">Reset</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-label">New Password:</label>
                        </td>
                        <td colspan="2">
                            <InputText @bind-Value="_passwordOptions.Password" readonly="readonly" class="form-text form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-info form-control" type="button" onclick="@_clipboardService.WriteTextAsync(_passwordOptions.Password)">Copy</button>
                        </td>
                    </tr>

                </table>
            </EditForm>
        </div>
    </div>
</div>

@code {
    PasswordOptions _passwordOptions = new();

    [Inject]
    private IPasswordGeneration _passwordGeneration { get; set; }

    [Inject]
    private IClipboardService _clipboardService { get; set; }

    private void ResetOptions()
    {
        _passwordOptions = new PasswordOptions();
    }

    private async Task GeneratePassword(EditContext obj)
    {
        _passwordOptions.Password = await _passwordGeneration.GeneratePasswordAsync(_passwordOptions);
        StateHasChanged();
    }

}